// main: masterstyle.scss

@mixin smaller-screens {
  .title {
      &-one {
        font-size: 3.5rem !important;
      }
      &-two {
        font-size: 2rem !important;
      }
      &-three {
        font-size: 1.5rem !important;
      }
  }

  .navbar {
      transition: none;
      background: none;
      &:hover {
        width: 5rem;
      }
      &:hover .link-text {
        display: none;
      }
  }

  .nav-sc {
    transform: translateX(0%);
    transition: transform 0.7s ease-in-out;
    margin-top: 5.2rem;
  }
  .nav-activate {
    transform: translateX(-100%);
  }

  .logo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    width: 5rem;
    height: 5rem;
    clip-path: circle(45%);
    img {
      opacity: 1;
    }
  }

/*  .navbar:hover .logo img {
    transform: rotate(90deg);
  }*/

  .navbar:active .logo img {
    transform: rotate(90deg);
  }

}

@media screen and (max-width: 1300px) {
  .text{
    width: 45vw;
  }
}

@media screen and (max-height: 860px) {
  @include smaller-screens;
  .nav-link {
    height: 3.5rem;
  }
  .text {
    width: 60vw;
  }
}

@media screen and (max-width: 860px){
  @include smaller-screens;
  .text{
    width: 100%;
    p {
      margin-left: 3.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  @include smaller-screens;
  .nav-link {
    height: 3.5rem;
  }

  .text {
    @include anima-text-small-screens;
    p {
      display: none;
    }
  }
}

@media screen and (max-height: 600px) {
  @include smaller-screens;
  .nav-link {
    height: 2.9rem;
  }
}

@media screen and (max-height: 500px), (max-width:370px) {
  @include smaller-screens;
  .nav-link {
    height: 2.5rem;
    img {
      transform: scale(0.8);
    }
  }
  .title {
      &-one {
        font-size: 3rem !important;
      }
      &-two {
        font-size: 1.5rem !important;
      }
      &-three {
        font-size: 1rem !important;
      }
  }
  .footer-box {
    &:hover .foot {
      display: none;
    }
  }
}
