// main: masterstyle.scss

@charset "UTF-8";

$font-one: 'Muli', sans-serif;
$font-two: 'Gugi', cursive;


$font-size: 16px;

$text-one: #fff;
$text-two: #f4f4f4;
$text-three: #ececec;
$text-four: #b6b6b6;
$bg-one: #141414;
$bg-two: #000;
$transition-speed: 600ms;


$dim-spaceship: 10rem;
$dim-planet-small: 20rem;
$dim-planet-medium: 25rem;
$dim-planet-large: 98vh;
$dim-moon: 5rem;
$dim-satellite: 5rem;
$dim-comet: 5rem;
$dim-asteroid-belt: 100vw;
$dim-astronaut: 3rem;
